<%= form_tag jaunts_path, method: :get do %>
  <p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search Jaunts", name: nil %>
  </p>
<% end %>
<%= image_tag("jaunts.jpg", class: "homeimage") %>
<div class="container">
  <div class="row">
    <br>
    <div class="col-md-6">
      <%= link_to 'Find a Jaunt', jaunts_path ,:class => "btn btn-primary btn-block" %>
    </div>
    <div class="col-md-6">
      <%= link_to 'Create a Jaunt', new_jaunt_path ,:class => "btn btn-primary btn-block" %>
    </div>
  </div>
</div>
