<script>
  window.onload = function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      minZoom: 3,
      maxZoom: 16,
      center: {lat: 41.8803, lng: -87.6249}
    })

    var directionsService = new google.maps.DirectionsService
    var directionsDisplay = new google.maps.DirectionsRenderer
    var waypoints = []
    directionsDisplay.setMap(map)

    if(gon.locations.length > 2) {
      gon.locations.slice(1, gon.locations.length - 1).forEach( function(jauntLocation) {
        waypoints.push({location: jauntLocation.address})
      })
    }

    directionsService.route({
      origin: gon.locations[0].address,
      destination: gon.locations[gon.locations.length - 1].address,
      waypoints: waypoints,
      travelMode: google.maps.TravelMode.WALKING
    }, function(response) { directionsDisplay.setDirections(response)})

    $('#jaunt-locations').height(($('#map').height() + $('#jaunt-desc').height()) - 8)
   }
</script>

<div class="container">
  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-success" id="jaunt-desc">
        <div class="panel-heading">
          <span> <%= @jaunt.title %> </span>
        </div>
        <div class="panel-body">
          <span> <%= @jaunt.description  %></span>
        </div>
      </div>

      <div class='panel panel-success'>
        <div class="panel-heading">
          <span>Jaunt Map</span>
        </div>
        <div id="map" style="width:100%;height:380px;"></div>
      </div>
    </div>


    <div class="col-md-6">
      <div class='panel panel-success'>
        <div class="panel-heading">
          <span>Jaunt Locations</span>
        </div>
        <div class = 'panel-body' id='jaunt-locations' style='overflow-y: scroll'>

          <% @jaunt.locations.each do |location| %>
            <div class="panel panel-success">
              <div class="panel-heading">
                <span> <%= location.name+", "+location.address %> </span>
              </div>
              <div class="panel-body">
                <span> <%= location.description  %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if current_user && current_user.id == @jaunt.user_id %>
      <div class="col-md-6">
        <%= link_to "Delete this Jaunt", delete_jaunt_path(@jaunt), method: :delete, data: {confirm: "This can not be undone"}, class: "btn btn-danger btn-block" %>
      </div>
      <div class="col-md-6">
        <%= link_to "Edit this Jaunt",   edit_jaunt_path(@jaunt), class: "btn btn-danger btn-block" %>
      </div>
    <% end %>
  </div>
</div>
