<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Jaunt", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path  %></li>
          <li><%= link_to "Create Jaunts", new_jaunt_path  %></li>
          <li><%= link_to "Find Jaunts", search_path  %></li>
          <% if logged_in? %>
            <li><%= link_to "My Jaunts", user_path(current_user) %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Log-In", login_path %></li>
          <% end %>
          <% if !logged_in? %>
            <li><%= link_to "Sign-up", signup_path %></li>
          <% end %>
          <%# <li> %>
            <%# <%= form_tag jaunts_path, method: :get do %1> %>
            <%#   <%= text_field_tag :query, params[:query], id: "searchbar", placeholder: "Search Jaunts"  %1> %>
            <%#   <%= submit_tag "Search Jaunts", name: nil, id: "search" %1> %>
            <%# <% end %1> %>
          <%# </li> %>
        </ul>
      </nav>
    </div>
  </header>
</div>


